@model IEnumerable<diplomski.Models.Desktop>

@{
    ViewBag.Title = "AllDesktops";
}

<h2>AllDesktops</h2>

<p>
    @Html.ActionLink("Create New", "AddDesktop", "Desktop")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LanMacAddress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LanMacAddress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { name = item.name, LanMacAddress = item.LanMacAddress  }) |
            @Html.ActionLink("Details", "Details", new { name = item.name, LanMacAddress = item.LanMacAddress }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
