@model diplomski.Models.Server

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Server</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LanMacAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LanMacAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)

        <dt>
            @Html.DisplayNameFor(model => model.Configuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Configuration)
        </dd>
    </dl>
    @using (Html.BeginForm("ServerConnections", "Server"))
    {
        <div class="form-group">
            @Html.Label("Node depth", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("NodeDepth", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("NodeDepth", "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Hidden("name", Model.name)
        @Html.Hidden("LanMacAddress", Model.LanMacAddress)

        <div class="form-group" style="margin-top:10px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Draw graph" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { name = Model.name, LanMacAddress = Model.LanMacAddress }) |
    @Html.ActionLink("Back to List", "AllServers")
</p>