@model IEnumerable<diplomski.Models.Router>

@{
    ViewBag.Title = "AllRouters";
}

<h2>AllRouters</h2>

<p>
    @Html.ActionLink("Create New", "AddRouter")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPorts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfTakenPorts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WiFiNetworkName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPorts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfTakenPorts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WiFiNetworkName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { name=item.name, SerialNumber=item.SerialNumber }) |
            @Html.ActionLink("Details", "Details", new { name = item.name, SerialNumber = item.SerialNumber, depth=2 }) |
            @Html.ActionLink("Delete", "DeleteRouter", new { name = item.name, SerialNumber = item.SerialNumber })
        </td>
    </tr>
}

</table>
