@model diplomski.Models.Router

<script src="~/Scripts/MyScripts/GraphDetails.js"></script>



@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div">
<h4>Router</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.name)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.name)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SerialNumber)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SerialNumber)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Manufacturer)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Manufacturer)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NumberOfPorts)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NumberOfPorts)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.NumberOfTakenPorts)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.NumberOfTakenPorts)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.OS)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.OS)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.WiFiNetworkName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.WiFiNetworkName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.MacAddressList)
    </dt>

    @{
        List<String> MacAddressList = Model.MacAddressList.ToList();
        if (MacAddressList.Count != 0)
        {
            foreach (String s in MacAddressList)
            {
                <dd>
                    @Html.DisplayName(s)
                </dd>
            }
        }
    }

</dl>

    @using (Html.BeginForm("RouterConnections", "Router"))
    {
        <div class="form-group">
            @Html.Label("Node depth", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("NodeDepth", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("NodeDepth", "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Hidden("name", Model.name)
        @Html.Hidden("SerialNumber", Model.SerialNumber)

        <div class="form-group" style="margin-top:10px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Draw graph" class="btn btn-default" />
            </div>
        </div>
    }
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
