@model diplomski.Models.Switch

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Switch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPorts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfPorts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfTakenPorts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfTakenPorts)
        </dd>

        @{
            List<String> MacAddressList = Model.MacAddressList.ToList();
            if (MacAddressList.Count != 0)
            {
                foreach (String s in MacAddressList)
                {
                    <dd>
                        @Html.DisplayName(s)
                    </dd>
                }
            }
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
